In [5]:
import numpy as np
import pandas as pd
import random as rd
from sklearn.model_selection import train_test_split
from sklearn.svm import SVC
training  = pd.read_csv('training.csv')
#training.columns
training = training.drop(labels =['Unnamed: 0','Customer ID'],axis =1)
training

,Gender,Age,Under_30,Senior_Citizen,Married,Dependents,Number_of_Dependents,Latitude,Longitude,Satisfaction Score,...,Streaming TV,Streaming Movies,Streaming Music,Unlimited Data,Contract,Paperless Billing,Payment Method,Total Extra Data Charges,Total Revenue,Churn Category
0,1.0,37.0,0.0,1.0,0.0,0.0,0.0,34.903052,-118.411251,1.0,...,1.0,0.0,0.0,1.0,1.0,1.0,0.0,0.0,3923.45,1.0
1,0.0,54.0,0.0,0.0,0.0,0.0,0.0,34.903052,-118.411251,1.0,...,0.0,1.0,1.0,1.0,0.0,0.0,0.0,0.0,35.90,1.0
2,1.0,46.0,1.0,1.0,0.0,1.0,0.0,33.721917,-118.043237,3.0,...,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,2182.45,0.0
3,1.0,23.0,1.0,1.0,0.0,0.0,0.0,36.192042,-122.000887,3.0,...,1.0,1.0,1.0,0.0,0.0,1.0,1.0,10.0,705.61,1.0
4,0.0,41.0,0.0,0.0,1.0,0.0,0.0,39.672813,-120.456699,3.0,...,0.0,0.0,0.0,0.0,2.0,0.0,1.0,10.0,3075.66,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5629,1.0,27.0,1.0,1.0,1.0,0.0,0.0,36.192042,-121.396719,3.0,...,0.0,0.0,0.0,0.0,0.0,0.0,2.0,0.0,62.35,0.0
5630,0.0,50.0,0.0,0.0,0.0,0.0,0.0,37.140104,-119.657092,3.0,...,0.0,0.0,0.0,1.0,2.0,0.0,1.0,0.0,3714.50,0.0
5631,1.0,60.0,0.0,1.0,0.0,1.0,2.0,37.140104,-119.657092,4.0,...,0.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,1396.02,0.0
5632,0.0,46.0,0.0,0.0,0.0,1.0,3.0,36.192042,-119.754941,4.0,...,0.0,0.0,1.0,1.0,1.0,1.0,1.0,0.0,1699.88,0.0
5633,1.0,71.0,0.0,1.0,1.0,0.0,0.0,36.623632,-119.741322,4.0,...,0.0,1.0,1.0,1.0,2.0,1.0,0.0,0.0,899.24,0.0

In [6]:
training['Streaming TV'] = training['Streaming TV'].fillna(method='bfill')
training['Streaming TV'] = training['Streaming TV'].fillna(method='pad')

In [7]:
training.isnull().sum()
#training.to_csv('All_Feature_TrainIDdataset.csv',sep=',')

Gender                      0
Age                         0
Under_30                    0
Senior_Citizen              0
Married                     0
Dependents                  0
Number_of_Dependents        0
Latitude                    0
Longitude                   0
Satisfaction Score          0
Quarter                     0
Referred a Friend           0
Number of Referrals         0
Tenure in Months            0
Offer                       0
Phone Service               0
Multiple Lines              0
Internet Service            0
Internet Type               0
Avg Monthly GB Download     0
Online Security             0
Online Backup               0
Device Protection Plan      0
Premium Tech Support        0
Streaming TV                0
Streaming Movies            0
Streaming Music             0
Unlimited Data              0
Contract                    0
Paperless Billing           0
Payment Method              0
Total Extra Data Charges    0
Total Revenue               0
Churn Category              0
dtype: int64

In [8]:
x = training.iloc[:,:-1]
y = training.iloc[:,-1]

x_train,x_test,y_train,y_test = train_test_split(x,y,test_size=0.2,random_state=42)
clf = SVC(kernel='rbf',C=1,gamma='auto')
clf.fit(x_train,y_train)
y_predict = clf.predict(x_test)
print(clf.score(x_train,y_train))
print(clf.score(x_test,y_test))

0.972709119147992
0.7506654835847383

In [9]:
SampleSubmission_withoutFillna = pd.read_csv('SampleSubmission_withoutFillna.csv')
SampleSubmission_withoutFillna = SampleSubmission_withoutFillna.drop(labels=['Unnamed: 0'],axis =1)
SampleSubmission_withoutFillna = SampleSubmission_withoutFillna.drop(labels=['Customer ID'],axis = 1)
SampleSubmission_withoutFillna.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1409 entries, 0 to 1408
Data columns (total 33 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   Gender                    1085 non-null   float64
 1   Age                       1077 non-null   float64
 2   Under 30                  1056 non-null   float64
 3   Senior Citizen            1079 non-null   float64
 4   Married                   1076 non-null   float64
 5   Dependents                1088 non-null   float64
 6   Number of Dependents      1075 non-null   float64
 7   Latitude                  1215 non-null   float64
 8   Longitude                 1215 non-null   float64
 9   Satisfaction Score        1222 non-null   float64
 10  Quarter                   1227 non-null   float64
 11  Referred a Friend         1227 non-null   float64
 12  Number of Referrals       1227 non-null   float64
 13  Tenure in Months          1227 non-null   float64
 14  Offer                     1227 non-null   float64
 15  Phone Service             1227 non-null   float64
 16  Multiple Lines            1227 non-null   float64
 17  Internet Service          1227 non-null   float64
 18  Internet Type             1227 non-null   float64
 19  Avg Monthly GB Download   1227 non-null   float64
 20  Online Security           1227 non-null   float64
 21  Online Backup             1227 non-null   float64
 22  Device Protection Plan    1227 non-null   float64
 23  Premium Tech Support      1227 non-null   float64
 24  Streaming TV              1227 non-null   float64
 25  Streaming Movies          1227 non-null   float64
 26  Streaming Music           1227 non-null   float64
 27  Unlimited Data            1227 non-null   float64
 28  Contract                  1227 non-null   float64
 29  Paperless Billing         1227 non-null   float64
 30  Payment Method            1227 non-null   float64
 31  Total Extra Data Charges  1070 non-null   float64
 32  Total Revenue             1227 non-null   float64
dtypes: float64(33)
memory usage: 363.4 KB

In [10]:
TestID = SampleSubmission_withoutFillna.fillna(method='ffill')
#TestID = SampleSubmission_withoutFillna.fillna(method='bfill')
TestID.isnull().sum()
TestID

,Gender,Age,Under 30,Senior Citizen,Married,Dependents,Number of Dependents,Latitude,Longitude,Satisfaction Score,...,Premium Tech Support,Streaming TV,Streaming Movies,Streaming Music,Unlimited Data,Contract,Paperless Billing,Payment Method,Total Extra Data Charges,Total Revenue
0,0.0,73.0,0.0,1.0,1.0,0.0,0.0,33.141265,-116.967221,3.0,...,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,4548.910000
1,1.0,64.0,0.0,0.0,0.0,0.0,0.0,34.231318,-117.662032,4.0,...,0.0,0.0,0.0,0.0,0.0,2.0,0.0,0.0,0.0,3553.250000
2,1.0,64.0,0.0,0.0,0.0,0.0,0.0,32.802959,-117.027095,5.0,...,0.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,0.0,4406.250000
3,0.0,35.0,0.0,0.0,1.0,1.0,3.0,32.802959,-117.027095,5.0,...,0.0,0.0,1.0,0.0,0.0,0.0,1.0,1.0,0.0,499.410000
4,1.0,67.0,0.0,1.0,1.0,0.0,0.0,33.581045,-117.147190,5.0,...,0.0,1.0,1.0,1.0,1.0,0.0,1.0,0.0,0.0,3044.441077
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1404,1.0,49.0,0.0,0.0,0.0,0.0,0.0,37.871416,-119.754941,4.0,...,0.0,0.0,0.0,0.0,0.0,1.0,1.0,1.0,0.0,387.700000
1405,0.0,78.0,0.0,1.0,0.0,0.0,0.0,40.448632,-119.754941,3.0,...,0.0,0.0,0.0,0.0,0.0,1.0,1.0,1.0,0.0,387.700000
1406,1.0,27.0,1.0,0.0,1.0,0.0,0.0,40.448632,-119.754941,1.0,...,1.0,1.0,1.0,1.0,1.0,0.0,1.0,0.0,0.0,3044.441077
1407,0.0,38.0,1.0,0.0,1.0,0.0,3.0,33.688546,-119.754941,1.0,...,0.0,0.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0,640.780000
1408,0.0,38.0,1.0,0.0,1.0,0.0,3.0,33.956445,-118.358634,3.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,285.150000

In [11]:
TestIDcsv = pd.read_csv('Test_IDs.csv')
y_TestID_predict = clf.predict(TestID)
TestIDcsv['Churn Category'] = y_TestID_predict
TestIDcsv['Churn Category'] = TestIDcsv['Churn Category'].apply(lambda x: int(x))
#TestIDcsv.to_csv('SVM_allFeature.csv',index=False)
#TestID.to_csv('TestID_withFeature.csv')

/Users/johnny/Documents/MachineLearning/HW/venv/lib/python3.7/site-packages/sklearn/base.py:488: FutureWarning: The feature names should match those that were passed during fit. Starting version 1.2, an error will be raised.
Feature names unseen at fit time:
- Number of Dependents
- Senior Citizen
- Under 30
Feature names seen at fit time, yet now missing:
- Number_of_Dependents
- Senior_Citizen
- Under_30

  warnings.warn(message, FutureWarning)

In [12]:
#without oversampling
#a = pd.read_csv('SVM_allFeature.csv',sep=',')
TestIDcsv['Churn Category'].value_counts()

0    1409
Name: Churn Category, dtype: int64

In [13]:
x_train,x_test,y_train,y_test = train_test_split(x,y,test_size=0.2,random_state=42)
clf = SVC(kernel='rbf',C=1,gamma='auto',decision_function_shape='ovo')
clf.fit(x_train,y_train)
y_predict = clf.predict(x_test)
print(clf.score(x_train,y_train))
print(clf.score(x_test,y_test))
print(y_predict)

0.972709119147992
0.7506654835847383
[0. 0. 0. ... 0. 0. 0.]

In [14]:
TestIDcsv = pd.read_csv('Test_IDs.csv')
y_TestID_predict = clf.predict(TestID)
TestIDcsv['Churn Category'] = y_TestID_predict
TestIDcsv['Churn Category'] = TestIDcsv['Churn Category'].apply(lambda x: int(x))
TestIDcsv['Churn Category']

/Users/johnny/Documents/MachineLearning/HW/venv/lib/python3.7/site-packages/sklearn/base.py:488: FutureWarning: The feature names should match those that were passed during fit. Starting version 1.2, an error will be raised.
Feature names unseen at fit time:
- Number of Dependents
- Senior Citizen
- Under 30
Feature names seen at fit time, yet now missing:
- Number_of_Dependents
- Senior_Citizen
- Under_30

  warnings.warn(message, FutureWarning)

0       0
1       0
2       0
3       0
4       0
       ..
1404    0
1405    0
1406    0
1407    0
1408    0
Name: Churn Category, Length: 1409, dtype: int64

In [15]:
#oversampling :y,x,y_test,x_test
x_meta = x
x_meta['Churn Category'] = y
x_meta

,Gender,Age,Under_30,Senior_Citizen,Married,Dependents,Number_of_Dependents,Latitude,Longitude,Satisfaction Score,...,Streaming TV,Streaming Movies,Streaming Music,Unlimited Data,Contract,Paperless Billing,Payment Method,Total Extra Data Charges,Total Revenue,Churn Category
0,1.0,37.0,0.0,1.0,0.0,0.0,0.0,34.903052,-118.411251,1.0,...,1.0,0.0,0.0,1.0,1.0,1.0,0.0,0.0,3923.45,1.0
1,0.0,54.0,0.0,0.0,0.0,0.0,0.0,34.903052,-118.411251,1.0,...,0.0,1.0,1.0,1.0,0.0,0.0,0.0,0.0,35.90,1.0
2,1.0,46.0,1.0,1.0,0.0,1.0,0.0,33.721917,-118.043237,3.0,...,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,2182.45,0.0
3,1.0,23.0,1.0,1.0,0.0,0.0,0.0,36.192042,-122.000887,3.0,...,1.0,1.0,1.0,0.0,0.0,1.0,1.0,10.0,705.61,1.0
4,0.0,41.0,0.0,0.0,1.0,0.0,0.0,39.672813,-120.456699,3.0,...,0.0,0.0,0.0,0.0,2.0,0.0,1.0,10.0,3075.66,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5629,1.0,27.0,1.0,1.0,1.0,0.0,0.0,36.192042,-121.396719,3.0,...,0.0,0.0,0.0,0.0,0.0,0.0,2.0,0.0,62.35,0.0
5630,0.0,50.0,0.0,0.0,0.0,0.0,0.0,37.140104,-119.657092,3.0,...,0.0,0.0,0.0,1.0,2.0,0.0,1.0,0.0,3714.50,0.0
5631,1.0,60.0,0.0,1.0,0.0,1.0,2.0,37.140104,-119.657092,4.0,...,0.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,1396.02,0.0
5632,0.0,46.0,0.0,0.0,0.0,1.0,3.0,36.192042,-119.754941,4.0,...,0.0,0.0,1.0,1.0,1.0,1.0,1.0,0.0,1699.88,0.0
5633,1.0,71.0,0.0,1.0,1.0,0.0,0.0,36.623632,-119.741322,4.0,...,0.0,1.0,1.0,1.0,2.0,1.0,0.0,0.0,899.24,0.0

In [16]:
x_meta['Churn Category'].value_counts()

0.0    4185
1.0     654
3.0     267
2.0     233
4.0     154
5.0     141
Name: Churn Category, dtype: int64

In [17]:
x_label1 = x_meta.loc[x_meta['Churn Category']==1]
x_label2 = x_meta.loc[x_meta['Churn Category']==2]
x_label3 = x_meta.loc[x_meta['Churn Category']==3]
x_label4 = x_meta.loc[x_meta['Churn Category']==4]
x_label5 = x_meta.loc[x_meta['Churn Category']==5]

x_label1 = x_label1.to_numpy()
x_label2 = x_label2.to_numpy()
x_label3 = x_label3.to_numpy()
x_label4 = x_label4.to_numpy()
x_label5 = x_label5.to_numpy()
x_meta = x_meta.to_numpy()

x_label1 = np.repeat(x_label1,5,axis=0)
x_label2=np.repeat(x_label2,17,axis=0)
x_label3=np.repeat(x_label3,15,axis=0)
x_label4=np.repeat(x_label4,26,axis=0)
x_label5=np.repeat(x_label5,29,axis=0)

x_meta=np.vstack((x_meta,x_label1))
x_meta=np.vstack((x_meta,x_label2))
x_meta=np.vstack((x_meta,x_label3))
x_meta=np.vstack((x_meta,x_label4))
x_meta=np.vstack((x_meta,x_label5))

In [18]:
x_meta = pd.DataFrame(x_meta)
x_meta[33].value_counts()

3.0    4272
5.0    4230
2.0    4194
0.0    4185
4.0    4158
1.0    3924
Name: 33, dtype: int64

In [19]:
x_osp = x_meta.iloc[:, :-1]
y_osp = x_meta.iloc[:,-1]
x_osp

,0,1,2,3,4,5,6,7,8,9,...,23,24,25,26,27,28,29,30,31,32
0,1.0,37.0,0.0,1.0,0.0,0.0,0.0,34.903052,-118.411251,1.0,...,0.0,1.0,0.0,0.0,1.0,1.0,1.0,0.0,0.0,3923.45
1,0.0,54.0,0.0,0.0,0.0,0.0,0.0,34.903052,-118.411251,1.0,...,0.0,0.0,1.0,1.0,1.0,0.0,0.0,0.0,0.0,35.90
2,1.0,46.0,1.0,1.0,0.0,1.0,0.0,33.721917,-118.043237,3.0,...,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,2182.45
3,1.0,23.0,1.0,1.0,0.0,0.0,0.0,36.192042,-122.000887,3.0,...,0.0,1.0,1.0,1.0,0.0,0.0,1.0,1.0,10.0,705.61
4,0.0,41.0,0.0,0.0,1.0,0.0,0.0,39.672813,-120.456699,3.0,...,0.0,0.0,0.0,0.0,0.0,2.0,0.0,1.0,10.0,3075.66
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
24958,0.0,39.0,0.0,0.0,0.0,1.0,2.0,34.364153,-118.615583,2.0,...,0.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0,0.0,364.26
24959,0.0,39.0,0.0,0.0,0.0,1.0,2.0,34.364153,-118.615583,2.0,...,0.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0,0.0,364.26
24960,0.0,39.0,0.0,0.0,0.0,1.0,2.0,34.364153,-118.615583,2.0,...,0.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0,0.0,364.26
24961,0.0,39.0,0.0,0.0,0.0,1.0,2.0,34.364153,-118.615583,2.0,...,0.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0,0.0,364.26
24962,0.0,39.0,0.0,0.0,0.0,1.0,2.0,34.364153,-118.615583,2.0,...,0.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0,0.0,364.26

In [31]:
x_train_osp,x_test_osp,y_train_osp,y_test_osp = train_test_split(x_osp,y_osp,test_size=0.2,random_state=42)
clf = SVC(kernel='rbf',C=0.1,gamma='auto',decision_function_shape='ovo')
clf.fit(x_train_osp,y_train_osp)
y_predict = clf.predict(x_test_osp)
print(clf.score(x_train_osp,y_train_osp))
print(clf.score(x_test_osp,y_test_osp))
print(y_predict)

0.8434151226840261
0.8329661526136591
[5. 4. 2. ... 4. 2. 0.]

In [32]:
TestID = pd.read_csv('TestID_withFeature.csv')
TestID = TestID.drop(labels=['Unnamed: 0'],axis=1)
y_predict_testID = clf.predict(TestID)
y_predict_testID

/Users/johnny/Documents/MachineLearning/HW/venv/lib/python3.7/site-packages/sklearn/base.py:439: UserWarning: X has feature names, but SVC was fitted without feature names
  f"X has feature names, but {self.__class__.__name__} was fitted without"

array([0., 0., 0., ..., 0., 0., 0.])

In [33]:
TestIDcsv = pd.read_csv('Test_IDs.csv')
TestIDcsv['Churn Category'] = y_predict_testID
TestIDcsv['Churn Category'] = TestIDcsv['Churn Category'].apply(lambda x: int(x))
TestIDcsv['Churn Category'].value_counts()

0    1392
3      10
5       5
2       1
4       1
Name: Churn Category, dtype: int64

In [23]:
#TestIDcsv.to_csv('SVM_overSampling_allFeatures.csv',index=False)